body{
    background: #1f1f47
  }
  
  .subtitle-box {
    text-align: justify;
    text-justify: inter-word;
    font-size: 1rem;
    margin-bottom: 2rem;
  }
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
  }

  
  .card-box {
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 50, 60, 70, 0.37 );
    backdrop-filter: blur( 18px );
    -webkit-backdrop-filter: blur( 18px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 1rem;
    padding: 1.5rem;
    z-index: 10;
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .img-tumb{
    max-height: 100px;
    min-height: 80px;
  }
.radius-search{
  border-radius: 45%;
}

  input[type=search]{
    background-color: #1F1F47;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
     border-radius: 20px;
     border: 1px solid #2d9fd9;
     color: #2d9fd9;
     height: 40px;
     padding-left: 10px;
    }
    
input[type=search]:focus {
     background-color: #1F1F47;
     outline: none;
     border: 1px solid #a0d18c;
     color: #2d9fd9;
}

.dropdown-menu { 
  background-color: #1F1F47;
  border-color: #ffc107;

 }
 .dropdown-item{
    color: #2d9fd9;
 }
 .dropdown-item{
  color: #2d9fd9;
}

.pagination-item{
  text-decoration: none;
  text-align: center;
  color:white;
  border: 1.5px solid;
  border-color: #ffc107;
}

.pagination-item:hover{
  background-color: #ffc107;
  color:#1F1F47;
  border-color: #1F1F47;
}
.pagination-item-selected{
  border: 1.5px solid;
  border-color: #1F1F47;
  text-decoration: none;
  text-align: center;
  background-color: #ffc107;
  color:#1F1F47;
}

.before{
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.next{
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}



      